
<div class="col-xs-12" style="height:50px;"></div>
<div class="container" style = "height: 100%; width: 100%;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                    <form role="form" data-toggle="validator" ng-submit="login()">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" name="firstName" ng-model="loginForm.username" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="lastName" ng-model="loginForm.password" required>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class = "btn btn-lg btn-info btn-block" ng-disabled="disabled">Login</button>
                        </fieldset>
                    </form>
                    <a href = "" ng-click = "goToRegistration()"><p class="text-center">Don't have an account? Register now!</p> </a>
                </div>
            </div>
        </div>
    </div>
</div>