<div style = "width: 100%; height: 100%">
    <div id="wrapper">
        <!-- Navigation -->
<div main-menu-component></div>


<div ng-switch on="contentSelector">
        <div class="page-wrapper" ng-switch-when="default">
            <div main-view></div>
        </div>
        <!-- /#page-wrapper -->

    <div class = "page-wrapper" ng-switch-when="user" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div user-information-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="geographyData" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div geography-data-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="adaptationData" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div adaptation-data-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="weatherData" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div weather-data-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="airspace" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div airspace-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="flightData" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div flight-data-view></div>
    </div>

    <div class = "page-wrapper" ng-switch-when="simulation" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div simulation-view></div>
    </div>

</div>
</div>
    </div>
<!-- /#wrapper -->
<script src="./../resources/vendor/sb-admin/js/sb-admin-2.js"></script>
