<div ng-controller = "geographyDataController">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Geography Data</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div dashboard-component></div>
    <div file-upload-component></div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="ion ion-ios-search-strong"></i>
                </div>
                <input type="text" class="form-control" placeholder="Search for parameter..." ng-model="searchGeographicalEntity">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
        <tr>
            <td>
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Type

                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'entityName'; sortReverse = !sortReverse">
                    Entity name

                    <span ng-show="sortType == 'entityName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'entityName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'continent'; sortReverse = !sortReverse">
                    Continent

                    <span ng-show="sortType == 'continent' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'continent' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'subregion'; sortReverse = !sortReverse">
                    Subregion

                    <span ng-show="sortType == 'subregion' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'subregion' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'geometry'; sortReverse = !sortReverse">
                    Geometry

                    <span ng-show="sortType == 'geometry' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'geometry' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entity in geographicalEntities | orderBy:sortType:sortReverse | filter:searchGeographicalEntity">
            <td>{{ entity.type }}</td>
            <td>{{ entity.entityName }}</td>
            <td>{{ entity.continent }}</td>
            <td>{{ entity.subregion }}</td>
            <td>{{ entity.geometry }}</td>
            <td><button class = "btn btn-danger center-block" ng-click = "remove(entity._id)">Remove</button></td>
            <td><button class = "btn btn-info center-block" ng-click = "edit(entity.entityName, entity._id)">Edit</button></td>


        </tr>
        </tbody>
    </table>
</div>



