<div style = "width: 100%; height: 100%">
    <div id="wrapper">
        <!-- Navigation -->
        <div main-menu-component></div>
        <div>
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Edit panel</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div dashboard-component></div>
                <div class="panel panel-default">

                <div class="panel-heading">
                    <h3><span style = "font-weight: lighter"class = 'label label-default'>{{geographicalEntityId}}</span>
                        <span style = "font-weight: lighter" class = 'label label-success'>{{geographicalEntity.properties.ADMIN}}</h3>
                    </span>
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon><span class = "ion ion-android-add"></span></md-icon>
                    </md-button>
                </div>
                </div>
                    <div class="row" style="height: 500px">
                    <div id = "map" style = "width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>